<a href="https://colab.research.google.com/github/dongchanlim/Python/blob/master/Car_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

from google.colab import files
uploaded = files.upload()

Saving USA_cars_datasets.csv to USA_cars_datasets.csv

      Unnamed: 0  price      brand  ...       state  country      condition
0              0   6300     toyota  ...  new jersey      usa   10 days left
1              1   2899       ford  ...   tennessee      usa    6 days left
2              2   5350      dodge  ...     georgia      usa    2 days left
3              3  25000       ford  ...    virginia      usa  22 hours left
4              4  27700  chevrolet  ...     florida      usa  22 hours left
...          ...    ...        ...  ...         ...      ...            ...
2494        2494   7800     nissan  ...  california      usa    1 days left
2495        2495   9200     nissan  ...     florida      usa  21 hours left
2496        2496   9200     nissan  ...     florida      usa  21 hours left
2497        2497   9200     nissan  ...     florida      usa    2 days left
2498        2498   9200     nissan  ...     florida      usa  21 hours left

[2499 rows x 13 columns]

In [0]:
car_df = pd.read_csv("USA_cars_datasets.csv")

# see the data type of each column
car_df.dtypes

Unnamed: 0        int64
price             int64
brand            object
model            object
year              int64
title_status     object
mileage         float64
color            object
vin              object
lot               int64
state            object
country          object
condition        object
dtype: object

In [0]:
# see the missing 
car_df.isna().sum(axis = 0)

Unnamed: 0      0
price           0
brand           0
model           0
year            0
title_status    0
mileage         0
color           0
vin             0
lot             0
state           0
country         0
condition       0
dtype: int64